html, body{
  height:100%;
  width:100%;
  margin:0;
  buffer:0;
  overflow:hidden;
}
.player{
  position:absolute;
  width:15%;
  height:100%;
  text-align:center
}
#playerOne{
  background:#098789;
}
#playerTwo{
  left:85%;
  background:#098789;
}
#gameBoard{
  position:absolute;
  left:15%;
  height:100%;
  width:70%;
  background:#345678;
}
.playerLabel{
  font-size:2em;
}
.drop{
  position:absolute;
  background:#123456;
  border:2px solid #000000;
}
.drag{
  position:absolute;
  background:#000000;
  z-index:2;
}
.drop.status-over{
  border:2px solid #FFFFFF;
  z-index:1;
}
